{% extends 'base_general.html' %}
{% load static %}

{% block content %}

          <div class="card-info-grid">
                <div class="card-info">
                  <i class="fas fa-user card-icon-primary"></i>
                    <h5>Crear Nuevo Usuario</h5>
                    <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <button type="submit" class="btn btn-primary">Crear Usuario</button>
                        </form>
                </div>
  </div>
{% endblock %}