{% extends 'base_general.html' %}
{% load static %}

{% block content %}
          <div class="card-info-grid">
                <div class="card-info">
                    <i class="fas fa-book card-icon-primary"></i>
                    <h5>957</h5>
                    <p>Cursos Inscritos</p>
                </div>

                <div class="card-info">
                    <i class="fas fa-fire card-icon-secondary"></i>
                    <h5>19</h5>
                    <p>Cursos Activos</p>
                </div>

                <div class="card-info">
                    <i class="fas fa-chalkboard-teacher card-icon-warning"></i>
                    <h5>241</h5>
                    <p>Instructores del curso</p>
                </div>

                <div class="card-info">
                    <i class="fas fa-check-circle card-icon-success"></i>
                    <h5>951</h5>
                    <p>Cursos Completados</p>
                </div>

                <div class="card-info">
                  <i class="fas fa-user card-icon-primary"></i>
                  <h5>1.674.767</h5>
                  <p>Estudiantes</p>
                </div>

                <div class="card-info">
                  <i class="fas fa-users card-icon-success"></i>
                  <h5>3</h5>
                  <p>Cursos en linea</p>
                </div>

                <div class="card-info">
                  <i class="fas fa-dollar-sign card-icon-secondary"></i>
                  <h5>$7.461.767</h5>
                  <p>USD Total Ganing</p>
                </div>

                <div class="card-info">
                  <i class="fas fa-chart-line card-icon-warning"></i>
                  <h5>56.489</h5>
                  <p>Curso vendidos</p>
                </div>
            </div>
          <div class="card">
            <div class="card-header">Andres Rain</div>
            <div class="card-body">
              <img src="https://via.placeholder.com/60" alt="User" class="rounded-circle me-3">andres.andres@gmail.com
              <div class="progress mt-3">
                <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100">29% completado</div>
              </div>
                <button class="btn btn-primary" type="submit">Editar biografia</button>
            </div>
          </div>

          <div class="card-grid">
            <div class="card">
              <div class="card-header">Actividad reciente</div>
              <div class="card-body">
                <p>Kevin: Comentarios sobre su conferencia "What is UX" en '2021 UUI/UX Design con figma'</p>
                <p>Julia: Da una calificación de 5 estrellas de su curso "Diseño 2021 UUI/UX con figma'</p>
                <p>Roberd: Compre su curso "Diseño 2021 UUI/UX con figma'</p>
                <p>Arif: Compre su curso "Diseño 2021 UUI/UX con figma'</p>
              </div>
            </div>

            <div class="card">
              <div class="card-header">Ganancia</div>
              <div class="card-body">
              </div>
            </div>

            <div class="card">
              <div class="card-header">Vista de perfil</div>
              <div class="card-body">
              </div>
            </div>
          </div>
{% endblock %}